canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; 
  }

.start-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh;
  cursor: pointer;
  z-index: 1000; 
}