    html, body {
      margin: 0;
      padding: 0;
      overflow: hidden; /* Ingen scroll */
      height: 100%;
      width: 100%;
      background-image: "./Bilder/meny.png";
    }

    canvas {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0; /* bakom knappen */
    }

    #fullscreen-btn {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 10; /* ovanp책 canvasen */
      background: rgba(255, 255, 255, 0.2);
      color: white;
      border: 1px solid #aaa;
      border-radius: 6px;
      padding: 6px 10px;
      font-size: 14px;
      cursor: pointer;
      user-select: none;
    }

    .start-btn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* fyller hela sk채rmen */
    height: 100vh; /* fyller hela sk채rmen */
    cursor: pointer;
    z-index: 1000; /* ovanp책 canvas */
    }
